/* Add additional stylesheets below
-------------------------------------------------- */

.flipeButton{
    height: 100px;
    border: 5px solid grey;
    border-radius: 50%;
    background-color: lightgray;
}
.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid black;
    height: 50px;
}

.battleGrid td {
    border: 1px solid black;
    min-width: 46px;
}

td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.tooltip {
    float: right;
    margin-bottom: 35px;
    margin-right: 30px;
    margin-top: -10px;
    display: inline-block;
    border-bottom: 1px dotted #3a3a3a;
}

.tooltip .tooltiptext {
    visibility: hidden;
    top: -10px;
    font-size: 25%;
    background-color: #3a3a3a;
    color: #cecece;
    text-align: left;

    padding: 5px 40px 0px 5px;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}