<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<h1 style="font-size:51px; font-family:'Georgia'; border-bottom: 10px solid black;"> BATTLESHIP


    <button id="sonarButton" style="font-size: 40px; font-family: Georgia; float: right; margin-bottom:10px;margin-right: 5px">Use Sonar</button>

    <button id="spaceLaserButton" style="font-size: 40px; font-family: Georgia; float: right; margin-bottom:10px;margin-right: 80px">Use Space Laser</button>

    <button id="reset" onclick="location.reload();" style="font-size: 40px; font-family: Georgia; float: right; margin-bottom:10px;margin-right: 30px">Reset</button>

    <div class="tooltip">
        <button style="font-size:40px; font-family: Georgia;">Tutorial</button>
        <span class="tooltiptext">
	        <ol>
	            <li>Player places the 3 ships somewhere on the board.</li>
	            <ul>
	                <li>The 4 ships are: Submarine (5), Battleship (4), Cruiser (3), and Destroyer (2).</li>
	                <li>The ships can only be placed vertically or horizontally.</li>
                    <li>The submarine can be placed under an existing ship.</li>
	                <li>Diagonal placement is not allowed.</li>
	                <li>No part of a ship may hang off the edge of the board.</li>
	                <li>Ships may not overlap each other, with the exception of the submarine.</li>
	                <li>No ships may be placed on another ship.</li>
	            </ul>
	            <li>AI 's turn to place the 3 ships somewhere on the board.</li>
	            <ul>
	                <li>Once the guessing begins, the players may not move the ships.</li>
                    <li>A regular bomb can be placed, or after 2 hits, a space laser can be used to hit a submarine, only if it is submerged.</li>
                    <li>An activation code will be applied after sinking the first ship, sos that the space laser can be used.</li>
	                <li>HIT: If player have correctly selected a space that occupied by one of AIs' ships.</li>
	                <li>MISSED: If player selected a space that has no ship.</li>
	                <li>SUNK: When all of player's occupied space for one ship (2,3,4) have been hit.</li>
	            </ul>
	            <li>When all of one players' ship have been sunk, the game ends.</li>
                <li>Once you kill one ship, then you can use the pulse up to 2 times. It allows you to see the enemies ship in a small area</li>
                <li>Once you kill two ships, then you can move your ships twice in a direction (N, S, E, W)</li>
	        </ol>
	    </span>
    </div>

</h1>

<div class="container" align="center" style="display: flex">
    <table id="player" class="battleGrid flex-item" align="center" style="margin: auto 20px auto auto">
    </table>

    <table id="opponent" class="battleGrid fixed" align="center" style="margin: auto auto auto 20px">
    </table>

</div>

<div class="container" align="center" style="display: flex">
    <div id="messageBoxDiv" class="flex-item" align="center" style="margin: 40px 20px auto auto; height: 200px; width: 500px; text-align: left; overflow-y: scroll;">
    </div>

    <div id="moveBtnDiv" class="flex-item" align="center" style="margin-top: 20px; height: 200px; width: 400px;">
        <button id="moveNorthButton" align="center" style="font-size: 35px; font-family: Georgia; float: center; margin-bottom:10px;margin-right: 5px">Move North</button>
        <button id="moveWestButton" align="center" style="font-size: 35px; font-family: Georgia; float: center; margin-bottom:10px;margin-right: 5px">Move West</button>
        <button id="moveEastButton" align="center" style="font-size: 35px; font-family: Georgia; float: center; margin-bottom:10px;margin-right: 5px">Move East</button>
        <button id="moveSouthButton" align="center" style="font-size: 35px; font-family: Georgia; float: center; margin-bottom:10px;margin-right: 5px">Move South</button>
    </div>

    <div id="scoreShipsDiv" class="fixed" align="left" style="margin: 40px auto auto 20px; height: 200px; width: 500px;">
        <div id="scoreCardDiv" style="display: none";>
            <table class="score-card">
                <tr>
                    <th></th>
                    <th id="playerNameDisp">Player</th>
                    <th>AI</th>
                </tr>
                <tr>
                    <td>Hit</td>
                    <td id="playerHits">0</td>
                    <td id="aiHits">0</td>
                </tr>
                <tr>
                    <td>Miss</td>
                    <td id="playerMiss">0</td>
                    <td id="aiMiss">0</td>
                </tr>
                <tr>
                    <td>Sunk</td>
                    <td id="playerSunk">0</td>
                    <td id="aiSunk">0</td>
                </tr>
            </table>
        </div>
        <div id="placeShipsDiv">
            <div>Player Name: <input id="playerName" type="text" name="playerName" value="Player">
            </div>


                <ul class="ships">
                    <div>
                        <div class="flipButton">
                            <label>
                                <input type="checkbox" id="is_vertical" name="is_vertical"><span>Flip</span>
                            </label>
                        </div>
                        <li><input type="button" value="Minesweeper" name="shipSelect" id="place_minesweeper" style="margin-right:20px;">
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                        </li>
                    </div>

                    <li><input type="button" value="Destroyer" name="shipSelect" id="place_destroyer" style="margin-right:41px;">
                        <div class="shipBox"></div>
                        <div class="shipBox"></div>
                        <div class="shipBox"></div>
                    </li>
                    <li><input type="button" value="Battleship" name="shipSelect" id="place_battleship" style="margin-right:40px;">
                        <div class="inline">
                            <div class="shipBox""></div>
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                        </div>
                    </li>
                    <li><input type="button" value="Submarine" name="shipSelect" id="place_submarine" style="margin-right:34px;">
                        <div class="inline">
                            <div class="shipBox" id="sub_weird_box"></div>
                            <br>
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                            <div class="shipBox"></div>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>
